@import '@fontsource-variable/inter';

@import "tailwindcss";
@import "./colors.css";

/* Configure dark mode to work with data-mode attribute */
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

body {
  @apply dark:bg-slate-950 dark:text-white;
}

select[class*="appearance-none"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

